<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <connectionStrings>
    <add name="finalModel" connectionString="data source=(LocalDB)\MSSQLLocalDB;initial catalog=finaldotNet;integrated security=True;multipleactiveresultsets=True;connect timeout=30;encrypt=False;trustservercertificate=True;application name=EntityFramework;applicationintent=ReadWrite;multisubnetfailover=False" providerName="System.Data.SqlClient" />
    <add name="finalModel1" connectionString="data source=(LocalDB)\MSSQLLocalDB;initial catalog=finaldotNet;integrated security=True;multipleactiveresultsets=True;connect timeout=30;encrypt=False;trustservercertificate=True;application name=EntityFramework;applicationintent=ReadWrite;multisubnetfailover=False" providerName="System.Data.SqlClient" />
    <add name="finalModel2" connectionString="data source=(LocalDB)\MSSQLLocalDB;initial catalog=finaldotNet;integrated security=True;multipleactiveresultsets=True;connect timeout=30;encrypt=False;trustservercertificate=True;application name=EntityFramework;applicationintent=ReadWrite;multisubnetfailover=False" providerName="System.Data.SqlClient" />
    <add name="finalModel3" connectionString="data source=(LocalDB)\MSSQLLocalDB;initial catalog=finaldotNet;integrated security=True;multipleactiveresultsets=True;connect timeout=30;encrypt=False;trustservercertificate=True;application name=EntityFramework;applicationintent=ReadWrite;multisubnetfailover=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>